@model SliderItem

<!-- Begin Page Content -->
<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">SliderItem Details</h6>
        </div>
        <div class="card-body">
            <img style="width: 150px" src="~/uploads/sliders/@Model.ImageURL" />
            <p>Id: @Model.Id</p>
            <p>Title: @Model.Title</p>
            <p>Name: @Model.Name</p>
            <p>Description: @Model.Description</p>
            <p>Create time: @Model.CreatedAt</p>
            @if (Model.UpdatedAt is not null)
            {
                <p>Update time: @Model.UpdatedAt</p>
            }
        </div>
    </div>
</div>
<!-- /.container-fluid -->